@model Liikunta.Models.Route

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Return)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Return)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureStationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureStationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureStationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureStationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnStationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnStationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnStationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnStationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoveredDistanceM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoveredDistanceM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationSec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationSec)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
